<div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
  <div class="kt-content kt-content--fit-top kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
      <div class="kt-container">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            Stepper
          </h3>

        </div>
        <div class="kt-subheader__toolbar">
          <div class="kt-subheader__wrapper">


          </div>
        </div>
      </div>
    </div>

    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
      <div class="kt-portlet">
        <div class="kt-portlet__body kt-portlet__body--fit">
          <div class="kt-grid kt-wizard-v2 kt-wizard-v2--white" id="kt_wizard_v2" data-ktwizard-state="first">
            <div class="kt-grid__item kt-wizard-v2__aside">
              <!--begin: Form Wizard Nav -->
              <div class="kt-wizard-v2__nav">
                <!--doc: Remove "kt-wizard-v2__nav-items--clickable" class and also set 'clickableSteps: false' in the JS init to disable manually clicking step titles -->
                <div class="kt-wizard-v2__nav-items kt-wizard-v2__nav-items--clickable">
                  <div class="kt-wizard-v2__nav-item" data-ktwizard-type="step" data-ktwizard-state="current">
                    <div class="kt-wizard-v2__nav-body">
                      <div class="kt-wizard-v2__nav-label">
                        <div class="kt-wizard-v2__nav-label-title">
                          Basic Information
                        </div>
                      </div>
                      <div class="kt-wizard-v2__nav-icon first">
                        <i class="fas fa-check-circle"></i>
                      </div>
                    </div>
                  </div>
                  <div class="kt-wizard-v2__nav-item" data-ktwizard-type="step" data-ktwizard-state="pending">
                    <div class="kt-wizard-v2__nav-body">
                      <div class="kt-wizard-v2__nav-label">
                        <div class="kt-wizard-v2__nav-label-title">
                          Locations
                        </div>
                      </div>
                      <div class="kt-wizard-v2__nav-icon">
                        <i class="fa fa-circle"></i>
                      </div>
                    </div>
                  </div>
                  <div class="kt-wizard-v2__nav-item" href="#" data-ktwizard-type="step" data-ktwizard-state="pending">
                    <div class="kt-wizard-v2__nav-body">
                      <div class="kt-wizard-v2__nav-label">
                        <div class="kt-wizard-v2__nav-label-title">
                          About
                        </div>
                      </div>
                      <div class="kt-wizard-v2__nav-icon">
                        <i class="fa fa-circle"></i>
                      </div>
                    </div>
                  </div>

                  <div class="kt-wizard-v2__nav-item" data-ktwizard-type="step" data-ktwizard-state="pending">
                    <div class="kt-wizard-v2__nav-body">
                      <div class="kt-wizard-v2__nav-label">
                        <div class="kt-wizard-v2__nav-label-title">
                          Review and Submit
                        </div>
                      </div>
                      <div class="kt-wizard-v2__nav-icon">
                        <i class="fa fa-circle"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--end: Form Wizard Nav -->
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">
              <!--begin: Form Wizard Form-->
              <form class="kt-form" id="kt_form" novalidate="novalidate" [formGroup]="editForm" (ngSubmit)="onSubmit()">
                <!--begin: Form Wizard Step 1-->
                <div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">


                  <div class="kt-heading kt-heading--md">
                    Basic Information
                  </div>
                  <div class="kt-form__section kt-form__section--first">
                    <div class="kt-wizard-v2__form">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Company Legal Name *</label>
                            <input type="text" class="form-control" formControlName="agency_name"
                              placeholder="Company Legal Name" aria-describedby="fname-error"
                              [ngClass]="{ 'is-invalid': submitted && f.agency_name.errors }" />
                            <div *ngIf="submitted && f.agency_name.errors" class="invalid-feedback">
                              <div *ngIf="f.agency_name.errors.required">Company name is required</div>
                            </div>
                            <!-- <span class="form-text text-muted">Please enter your first name.</span> -->
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Phone Number *</label>
                            <input type="text" class="form-control" formControlName="phone_number"
                              placeholder="Phone number with country code" aria-describedby="fname-error"
                              [ngClass]="{ 'is-invalid': submitted && f.phone_number.errors }" />
                            <div *ngIf="submitted && f.phone_number.errors" class="invalid-feedback">
                              <div *ngIf="f.phone_number.errors.required">Phone number is required</div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Year of establishment *</label>
                            <select class="form-control" formControlName="year_of_establishment"
                              [ngClass]="{ 'is-invalid': submitted && f.year_of_establishment.errors }">
                              <option value="">Select year</option>
                              <ng-container *ngFor='let data of years'>
                                <option [ngValue]="data">{{data}}</option>
                              </ng-container>
                            </select>
                            <div *ngIf="submitted && f.year_of_establishment.errors" class="invalid-feedback">
                              <div *ngIf="f.year_of_establishment.errors.required">Year of establishment is required
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Company Size *</label>
                            <select class="form-control" formControlName="company_size"
                              [ngClass]="{ 'is-invalid': submitted && f.company_size.errors }">
                              <option value="">Select Company Size</option>
                              <option>Small 50 </option>
                              <option>Medium 50-500</option>
                              <option>Large 500-2000</option>
                              <option>Enterprise 2000+</option>
                            </select>

                            <div *ngIf="submitted && f.company_size.errors" class="invalid-feedback">
                              <div *ngIf="f.company_size.errors.required">Company size is required</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Website *</label>
                            <input type="text" class="form-control" formControlName="website"
                              placeholder="Company Website" aria-describedby="fname-error"
                              [ngClass]="{ 'is-invalid': submitted && f.website.errors }" />
                            <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
                              <div *ngIf="f.website.errors.required">Website is required</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Company Owner Name/ Authorized Signatory *</label>
                            <input type="text" class="form-control" formControlName="owner_name"
                              placeholder="Company Owner Name/ Authorized Signatory" aria-describedby="fname-error"
                              [ngClass]="{ 'is-invalid': submitted && f.owner_name.errors }" />
                            <div *ngIf="submitted && f.owner_name.errors" class="invalid-feedback">
                              <div *ngIf="f.owner_name.errors.required">Owner name is required</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label>Designation of Authorized Signatory *</label>
                            <input type="text" class="form-control" formControlName="designation"
                              placeholder="Designation of Authorized Signatory " aria-describedby="fname-error"
                              [ngClass]="{ 'is-invalid': submitted && f.designation.errors }" />
                            <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                              <div *ngIf="f.designation.errors.required">Designation is required</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                        data-ktwizard-type="action-next">
                        Next Step
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <!--end: Form Wizard Step 1-->

              <!--begin: Form Wizard Step 2-->
              <div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
                <div class="kt-heading kt-heading--md">
                  Locations
                </div>
                <div class="kt-form__section kt-form__section--first">
                  <div class="kt-wizard-v2__form">
                    <div class="row">
                      <div class="col-xl-10">
                        <div class="form-group">
                          <label>Address</label>
                          <input type="text" class="form-control" name="address1" placeholder="Type in your address"
                            value="Address Line 1" aria-describedby="address1-error" />
                          <span class="form-text text-muted">Please enter your Address.</span>
                        </div>
                      </div>
                      <div class="col-xl-2">
                        <div>
                          <a href="#" class="btn btn-primary locationAdd"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
              </div>

              <!--end: Form Wizard Step 2-->

              <!--begin: Form Wizard Step 3-->
              <div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
                <div class="kt-heading kt-heading--md">
                  Tell us about your company (Optional)
                </div>
                <div class="kt-form__section kt-form__section--first">
                  <div class="kt-wizard-v2__form">
                    <div class="form-group">
                      <label>About</label>
                      <textarea placeholder="Tell us about your company " class="form-control" rows="15"></textarea>
                    </div>

                  </div>
                </div>
              </div>

              <!--end: Form Wizard Step 3-->



              <!--begin: Form Wizard Step 6-->
              <div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
                <div class="kt-heading kt-heading--md">
                  Review your Details and Submit
                </div>
                <div class="kt-form__section kt-form__section--first">
                  <div class="kt-wizard-v2__review">
                    <div class="kt-wizard-v2__review-item">
                      <div class="kt-wizard-v2__review-title">
                        Basic Information <i class="far fa-edit"></i>
                      </div>
                      <div class="kt-wizard-v2__review-content">
                        John Wick<br />
                        Phone: +61412345678<br />
                        Email: johnwick@reeves.com
                      </div>
                    </div>
                    <div class="kt-wizard-v2__review-item">
                      <div class="kt-wizard-v2__review-title">
                        Locations <i class="far fa-edit"></i>
                      </div>
                      <div class="kt-wizard-v2__review-content">
                        Location 1<br />
                        Location 2<br />
                        Location 3
                      </div>
                    </div>
                    <div class="kt-wizard-v2__review-item">
                      <div class="kt-wizard-v2__review-title">
                        About <i class="far fa-edit"></i>
                      </div>
                      <div class="kt-wizard-v2__review-content">
                        Duchess: you'd better leave off,' said the Dodo. Then they both cried. 'Wake up, Dormouse!'
                        And they pinched it on both sides at once. The Dormouse slowly opened his eyes. 'I wasn't
                        asleep,' he said.
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <!--end: Form Wizard Step 6-->

              <!--begin: Form Actions -->
              <div class="kt-form__actions">
                <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                  data-ktwizard-type="action-prev">
                  Previous
                </button>
                <button class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                  data-ktwizard-type="action-submit">
                  Submit
                </button>

              </div>

              <!--end: Form Actions -->


              <!--end: Form Wizard Form-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end:: Content -->
  </div>
</div>


<!-- <input type="text" formControlName="address" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">Address is required</div>
          <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        </div> -->