<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="login-form shadow rounded mt-5 mb-5">
                <div class="card-body">
                    <div *ngIf="isValidReset" class="card-title text-center mb-4">
                        <h3>Reset Password!</h3>
                        <h5>You can update your password here</h5>
                    </div>
                    <div *ngIf="!isValidReset" class="card-title text-center mb-4">
                        <h3>Reset Password Error!</h3>
                        <h5>We are unable to verify you. Link has been expired</h5>
                    </div>
                </div>
                <div class="card-text" *ngIf="isValidReset">

                    <div class="text-center"><span style='color:green;'>{{message}}</span></div>

                    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                        <div [ngClass]="{'has-error': 
                        resetForm.get('password').invalid && ( 
                        resetForm.get('password').dirty || 
                        resetForm.get('password').touched)}" class="form-group">

                            <div class="white-btn rmshd">
                                <label>Enter Password</label>
                                <input formControlName="password" type="password" placeholder="Enter password" class="form-control" autofocus>
                            </div>

                            <div *ngIf="
                            resetForm.get('password').invalid && ( 
                            resetForm.get('password').dirty || 
                            resetForm.get('password').touched)">
                                <span *ngIf="resetForm.get('password').errors.required" class="help-block">
                                    *Password is required.
                                </span>

                                <span *ngIf="
                                !resetForm.get('password').errors.required && (
                                resetForm.get('password').errors.minlength ||
                                resetForm.get('password').errors.maxlength )" class="help-block">
                                    *Password must be 6-20 characters long.
                                </span>
                            </div>
                        </div>

                        <div [ngClass]="{'has-error': 
                        resetForm.get('confirm_password').invalid && ( 
                        resetForm.get('confirm_password').dirty || 
                        resetForm.get('confirm_password').touched)}" class="form-group">
                            <div class="white-btn rmshd">
                                <label>Confirm Password</label>
                                <input formControlName="confirm_password" type="password" class="form-control">
                            </div>

                            <div *ngIf="
                            resetForm.get('confirm_password').value !== 
                            resetForm.get('password').value && 
                            resetForm.get('confirm_password').touched">
                                <span class="help-block">
                                    Confirm password must be same.
                                </span>
                            </div>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-md btn-orange btn-submit btn-radius" [disabled]="!resetForm.valid">Reset</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>