<div class="login-page">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-1"></div>
            <div class="col-sm-4 col-md-4 col-lg-4 mx-auto kt-login-box">
                <div class="card card-signin my-5 shadow-sm">
                    <div class="card-body">
                        <div class="alert alert-danger fade show" role="alert" *ngIf="error">
                            <div class="alert-icon">
                            </div>
                            <div class="alert-text">{{error}}</div>
                        </div>
                        <div class="alert alert-success fade show" role="alert" *ngIf="message">
                            <div class="alert-icon">
                            </div>
                            <div class="alert-text">{{message}}</div>
                        </div>
                        <div class="kt-login__body forgot_password ng-star-inserted">
                            <div class="kt-login__form">
                                <div class="kt-login__title">
                                    <h4>Reset Password</h4>
                                    <div class="login-card">
                                        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend"> <span class="input-group-text"
                                                            id="basic-addon1"><i class="fas fa-user"></i></span>
                                                    </div>
                                                    <input type="password" class="form-control"
                                                        formControlName="password" placeholder="Password"
                                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                                        autofocus>
                                                    <div *ngIf="submitted && f.password.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.password.errors.required">Password is required
                                                        </div>
                                                        <div *ngIf="f.password.errors.minlength">Password must be at
                                                            least 6
                                                            characters</div>
                                                    </div>
                                                </div>

                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend"> <span class="input-group-text"
                                                            id="basic-addon1"><i class="fas fa-user"></i></span>
                                                    </div>
                                                    <input type="password" class="form-control"
                                                        formControlName="confirm_password"
                                                        placeholder="Confirm password"
                                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                                        autofocus>
                                                    <div *ngIf="submitted && f.confirm_password.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.confirm_password.errors.required">Confirm Password
                                                            is required
                                                        </div>
                                                        <div *ngIf="f.confirm_password.errors.mustMatch">Passwords must
                                                            match</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="kt-login__extra">
                                                <a routerLink="/auth/login/{{userType}}" id="kt_login_forgot">Account
                                                    login</a>
                                            </div>

                                            <div class="kt-login__actions">
                                                <div class="form-group">
                                                    <button class="btn btn-primary btn-elevate kt-login__btn-primary"
                                                        id="kt_login_signin_submit">
                                                        Submit
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">
                <div class="kt-login__block kt-login__section mt-5 my-5">
                    <h3 class="kt-login__title">Reset Password.</h3>

                    <div class="kt-login__desc">
                        Please enter your new passowrd.
                    </div>

                    <div class="kt-intro-img">
                        <img alt="login image" src="/assets/img/login-image.png" />
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>