<div class="kt-portlet kt-portlet--mobile">
  <!-- <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        
      </h3>
    </div>
  </div> -->
  <div class="kt-portlet__body">
    <div class="row">
      <div class="col-md-6" *ngIf="appData.is_welcome == 0">
        <h5>Complete your profile ({{ stepComplete }}/{{ steps.length }})</h5>
        <progress-bar [progress]="progress" [color-degraded]="{
            '0': '#00cbcb',
            '15': '#f9c3d3',
            '25': '#fd8c8e'
          }">
        </progress-bar>
        <ul class="nostyle profileStepsList">
          <li [ngClass]="{ completed: data[1]['completed'] }" *ngFor="let data of steps">
            <i class="flaticon2-checkmark" aria-hidden="true"></i>
            <span>{{ data[1]['name'] }}</span>
          </li>
        </ul>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="kt-portlet kt-iconbox kt-iconbox--wave">
      <div class="kt-portlet__body">
        <div class="kt-iconbox__body">
          <div class="kt-iconbox__icon kt-font-success">
            <i class="flaticon2-list-1"></i>
          </div>
          <div class="kt-iconbox__desc">
            <h3 class="kt-iconbox__title">
              <a class="kt-link" href="#">{{
                total_active_demands ? total_active_demands : '0'
              }}</a>
            </h3>
            <div class="kt-iconbox__content">
              Total Active Demands
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="kt-portlet kt-iconbox kt-iconbox--wave">
      <div class="kt-portlet__body">
        <div class="kt-iconbox__body">
          <div class="kt-iconbox__icon kt-font-info">
            <i class="flaticon2-line-chart"></i>
          </div>
          <div class="kt-iconbox__desc">
            <h3 class="kt-iconbox__title">
              <a class="kt-link" href="#">{{
                total_demands ? total_demands : '0'
              }}</a>
            </h3>
            <div class="kt-iconbox__content">
              Total Demands
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="kt-portlet kt-iconbox kt-iconbox--wave">
      <div class="kt-portlet__body">
        <div class="kt-iconbox__body">
          <div class="kt-iconbox__icon kt-font-warning">
            <i class="flaticon-medal"></i>
          </div>
          <div class="kt-iconbox__desc">
            <h3 class="kt-iconbox__title">
              <a class="kt-link" href="#">{{
                total_active_agencies ? total_active_agencies : '0'
              }}</a>
            </h3>
            <div class="kt-iconbox__content">
              Total Active Agencies
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="kt-portlet kt-iconbox kt-iconbox--wave">
      <div class="kt-portlet__body">
        <div class="kt-iconbox__body">
          <div class="kt-iconbox__icon kt-font-danger">
            <i class="flaticon2-layers"></i>
          </div>
          <div class="kt-iconbox__desc">
            <h3 class="kt-iconbox__title">
              <a class="kt-link" href="#">{{
                total_agencies ? total_agencies : '0'
              }}</a>
            </h3>
            <div class="kt-iconbox__content">
              Total Agencies
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--End::Row-->
<div class="row">
  <div class="col-md-12">
    <div class="kt-portlet kt-portlet--mobile">
      <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
          <h3 class="kt-portlet__head-title">
            Latest Demands
          </h3>
          <a (click)="createDemand(template)" class="btn btn-primary btn-brand--icon pull-right mleft20" id="kt_search">
            <span>
              <span>Create Demand</span>
            </span>
          </a>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="detailed_list" *ngIf="demandData && demandData.length">
          <div class="detailed_list_item row" *ngFor="let arrayItem of demandData; let i = index">
            <div class="col-md-3 detailed_list_title">
              <h5>
                <a routerLink="/user/demandview/{{ arrayItem.id }}">
                  {{ arrayItem.title ? arrayItem.title : '-' }}</a>
              </h5>
            </div>

            <div class="col-md-2">
              {{ arrayItem.created_at | date: 'mediumDate' }}
              <span class="detailed_list_label">Posted Date</span>
            </div>
            <div class="col-md-2">
              {{
                arrayItem.hire_country
                  ? getcountry(arrayItem.hire_country)
                  : '-'
              }}
              <span class="detailed_list_label">Location</span>
            </div>

            <div class="col-md-2" *ngIf="category[i].length">
              {{
                category[i].length > 1 ? category[i].join(', ') : category[i][0]
              }}
              <span class="detailed_list_label">Categories</span>
            </div>
            <div class="col-md-2" *ngIf="category[i].length == 0">
              -
              <span class="detailed_list_label">Categories</span>
            </div>
            <div class="col-md-1">
              {{ arrayItem.total_demands ? arrayItem.total_demands : '-' }}
              <span class="detailed_list_label">Total Demands</span>
            </div>
            <div class="col-md-2 text-center">
              <span class="btn btn-label-{{
                  arrayItem.status == 1 ? 'success' : 'danger'
                }} btn-sm btn-bold btn-upper status">{{ arrayItem.status == 1 ? 'Published' : 'Draft' }}</span>
              <a href=" #" class="btn btn-clean btn-sm btn-icon btn-icon-md options_btn" data-toggle="dropdown">
                <i class="flaticon-more-1"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">
                <ul class="kt-nav">
                  <li class="kt-nav__item">
                    <a href="#" class="kt-nav__link" routerLink="/user/demandview/{{ arrayItem.id }}">
                      <i class="kt-nav__link-icon flaticon-eye"></i>
                      <span class="kt-nav__link-text">View</span>
                    </a>
                  </li>
                  <li class="kt-nav__item" *ngIf="appData.role == 'Employer'">
                    <a routerLink="/user/demand/{{ arrayItem.id }}" class="kt-nav__link">
                      <i class="kt-nav__link-icon flaticon-edit"></i>
                      <span class="kt-nav__link-text">Edit</span>
                    </a>
                  </li>
                  <li class="kt-nav__item" *ngIf="appData.role == 'Employer'">
                    <a (click)="createDuplicateDemand(arrayItem.id)" class="kt-nav__link">
                      <i class="kt-nav__link-icon flaticon2-copy"></i>
                      <span class="kt-nav__link-text">Duplicate</span>
                    </a>
                  </li>
                  <li class="kt-nav__item" *ngIf="appData.role == 'Employer'">
                    <a href="#" class="kt-nav__link">
                      <i class="kt-nav__link-icon flaticon2-trash"></i>
                      <span class="kt-nav__link-text">Delete</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template let-modal class="modal-dialog-centered">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <span>Create demand</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(' Cross click ')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="ticket-content mb-4">
      <p>
        Your profile is pending please complete profile before create demand.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="goProfile()">
      Go To Edit Profile
    </button>
  </div>
</ng-template>