<div
  class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch"
  id="kt_body"
>
  <div
    class="kt-content kt-content--fit-top kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
    id="kt_content"
  >
    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
      <div class="kt-container">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            {{ demandData.title }}
          </h3>
        </div>
        <div class="kt-subheader__toolbar">
          <div class="kt-subheader__wrapper">
            <a
              routerLink="/user/demandlist"
              class="btn btn-primary btn-brand--icon"
              id="kt_search"
            >
              <span>
                <span>Demand List</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div
      class="kt-container kt-grid__item kt-grid__item--fluid"
      *ngIf="demandData"
    >
      <!--Begin::Dashboard 3-->
      <div class="kt-portlet">
        <div class="kt-portlet__body">
          <div class="row">
            <div class="col-md-12">
              <div class="detailed_list">
                <div class="detailed_list_item row">
                  <div class="col-md-2">
                    {{ demandData.created_at | date: 'mediumDate' }}
                    <span class="detailed_list_label">Posted Date</span>
                  </div>
                  <div class="col-md-2">
                    {{
                      demandData.hire_country
                        ? getcountry(demandData.hire_country)
                        : '-'
                    }}
                    <span class="detailed_list_label">Location</span>
                  </div>
                  <div
                    class="col-md-2"
                    *ngIf="demandData.demand_category.length"
                  >
                    {{
                      demandData.demand_category.length > 1
                        ? demandData.demand_category.category_name.join(', ')
                        : demandData.demand_category[0].category_name
                    }}
                    <span class="detailed_list_label">Categories</span>
                  </div>
                  <div class="col-md-2">
                    {{
                      demandData.total_demands ? demandData.total_demands : '-'
                    }}
                    <span class="detailed_list_label">Total Demands</span>
                  </div>
                  <div class="col-md-2 text-center">
                    <span
                      class="btn btn-label-{{
                        demandData.status == 1 ? 'success' : 'danger'
                      }} btn-sm btn-bold btn-upper status"
                      >{{
                        demandData.status == 1 ? 'Published' : 'Draft'
                      }}</span
                    >
                  </div>
                  <div class="col-md-2 text-center">
                    <div class="kt-widget__action">
                      <a
                        type="button"
                        class="btn btn-sm btn-upper"
                        style="background: #edeff6;"
                        *ngIf="appData.role == 'Employer'"
                        routerLink="/user/demand/{{ demandData.id }}"
                      >
                        Edit</a
                      >&nbsp;
                      <button
                        type="button"
                        class="btn btn-success btn-sm btn-upper"
                        *ngIf="appData.role == 'Agency'"
                      >
                        Bid
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              Demand Details
              <a
                type="button"
                class="collapseBtn collapsed"
                data-toggle="collapse"
                data-target="#demandDetails"
              >
                <i class="fa fa-chevron-circle-down"></i>
              </a>
            </h3>
          </div>
        </div>
        <div class="kt-portlet__body collapse" id="demandDetails">
          <h4>Demands</h4>
          <table
            class="table table-bordered"
            *ngIf="demandData && demandData.demand_category.length > 0"
          >
            <thead>
              <th>Sno</th>
              <th>Sector</th>
              <th>Categories</th>
              <th>Quantity</th>
              <th>Salary</th>
              <th>Gender</th>
              <th>More</th>
            </thead>
            <tbody>
              <tr
                *ngFor="let array of demandData.demand_category; let i = index"
              >
                <td>{{ i + 1 }}</td>
                <td>{{ getCategoryname(array.parent_category_id) }}</td>
                <td>{{ array.category_name }}</td>
                <td>{{ array.quantity }}</td>
                <td>{{ array.salary }}</td>
                <td>{{ array.gender }}</td>
                <td>
                  <a (click)="showDetails(i)">Details</a>
                  <div *ngIf="showDetailData[i]">
                    <p>
                      Age Brackets:{{
                        array.age_bracket ? array.age_bracket : '-'
                      }}
                    </p>
                    <p>
                      Qualification:{{
                        array.qualification ? array.qualification : '-'
                      }}
                    </p>
                    <p>
                      Years Of Experience:{{
                        array.years_of_experience
                          ? array.years_of_experience
                          : '-'
                      }}
                    </p>
                    <p>
                      Driver License:{{
                        array.driver_license ? array.driver_license : '-'
                      }}
                    </p>
                    <p>Job Desc:{{ array.job_desc ? array.job_desc : '-' }}</p>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-12">
              <h4>Benefits</h4>
            </div>
            <div class="col-md-6">
              <ul class="nostyle alignMe">
                <li>
                  <strong> Accommodation </strong>
                  {{
                    demandData.accommodation ? demandData.accommodation : '-'
                  }}
                </li>

                <li>
                  <strong> Visa Sponsorship</strong>
                  {{
                    demandData.visa_sponsorship
                      ? demandData.visa_sponsorship
                      : '-'
                  }}
                </li>

                <li>
                  <strong> Transportation </strong
                  >{{
                    demandData.transportation ? demandData.transportation : '-'
                  }}
                </li>

                <li>
                  <strong> Food </strong>
                  {{ demandData.food ? demandData.food : '-' }}
                </li>

                <li>
                  <strong>Contract duration </strong
                  >{{
                    demandData.contract_duration
                      ? demandData.contract_duration
                      : '-'
                  }}
                </li>

                <li>
                  <strong>Working hours per day </strong
                  >{{
                    demandData.working_hours_day
                      ? demandData.working_hours_day
                      : '-'
                  }}
                </li>

                <li>
                  <strong>Working days per week </strong
                  >{{
                    demandData.working_hours_week
                      ? demandData.working_hours_week
                      : '-'
                  }}
                </li>

                <li>
                  <strong>Probation period </strong
                  >{{
                    demandData.probation_period
                      ? demandData.probation_period
                      : '-'
                  }}
                </li>

                <li>
                  <strong>Overtime </strong
                  >{{ demandData.overtime ? demandData.overtime : '-' }}
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="nostyle alignMe">
                <li>
                  <strong> Medical Insurance </strong
                  >{{
                    demandData.medical_insurance
                      ? demandData.medical_insurance
                      : '-'
                  }}
                </li>
                <li>
                  <strong> Joining Ticket </strong
                  >{{
                    demandData.joining_ticket ? demandData.joining_ticket : '-'
                  }}
                </li>
                <li>
                  <strong> Paid leaves </strong
                  >{{ demandData.paid_leaves ? demandData.paid_leaves : '-' }}
                </li>
                <li>
                  <strong> Leave ticket </strong
                  >{{ demandData.leave_ticket ? demandData.leave_ticket : '-' }}
                </li>
                <li>
                  <strong> Uniform & PPEs </strong
                  >{{ demandData.uniform ? demandData.uniform : '-' }}
                </li>
                <li>
                  <strong> Other benefits </strong
                  >{{
                    demandData.other_benefits ? demandData.other_benefits : '-'
                  }}
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Terms & Conditions</h4>
            </div>
            <div class="col-md-6">
              <ul class="nostyle alignMe">
                <li>
                  <strong> Mode of interview </strong
                  >{{
                    demandData.mode_of_interview
                      ? demandData.mode_of_interview
                      : '-'
                  }}
                </li>
                <li>
                  <strong> No. of delegates for interview </strong
                  >{{
                    demandData.no_of_delegates
                      ? demandData.no_of_delegates
                      : '-'
                  }}
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="nostyle alignMe">
                <li>
                  <strong> Flights for delegates </strong
                  >{{
                    demandData.flights_for_delegates
                      ? demandData.flights_for_delegates
                      : '-'
                  }}
                </li>
                <li>
                  <strong> Hotels for delegates </strong
                  >{{
                    demandData.hotels_for_delegates
                      ? demandData.hotels_for_delegates
                      : '-'
                  }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head">
          <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
              All Bids
              <a
                type="button"
                class="collapseBtn collapsed"
                data-toggle="collapse"
                data-target="#allbids"
              >
                <i class="fa fa-chevron-circle-down"></i>
              </a>
            </h3>
          </div>
        </div>
        <div class="kt-portlet__body collapse" id="allbids">
          <h4>Bids</h4>
        </div>
      </div>
    </div>

    <!-- end:: Content -->
  </div>
</div>
