body {
  color: #505050 !important;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Poppins, Helvetica, sans-serif !important;
  font-size: 15px !important;
  font-weight: 400;
  line-height: 26px;
  background-color: #f9f9fc !important;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  height: 100vh;
}
app-root {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: block;
}
.container-wrapper {
  height: 100%;
  width: 100%;
}

.body-bg {
  background-image: url(../media/demos/demo4/header.jpg);
  background-position: center top;
  background-size: 100% 350px;
}
body button {
  font-size: 14px !important;
  font-weight: 600;
}
body h1,
body h2,
body h3,
body h4,
body h5 {
  font-weight: 300;
  color: #0a8e9e;
  /* letter-spacing: -1.5px; */
}
body h4,
body .h4 {
  font-size: 1.3rem;
}
body kt-footer a,
body
  .kt-footer
  .kt-footer__top
  .kt-footer__subscribe
  .input-group
  .form-control {
  color: #fff !important;
}
body a,
body a:hover {
  color: #074a79 !important;
}
body button.btn {
  background-color: #074a79 !important;
  border-color: #074a79 !important;
  color: #fff !important;
  margin: 0px;
  border-radius: 4px;
  font-weight: 400;
}
body .btn {
  padding: 0.4rem 1rem !important;
}
body a.btn {
  background-color: #0a8e9e !important;
  border-color: #0a8e9e !important;
  color: #fff !important;
}
body a.btn:hover {
  background-color: #074a79 !important;
  border-color: #074a79 !important;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body .font-mon,
body .mat-tab-label-content {
  font-family: 'Montserrat', sans-serif !important;
}
body .mat-input-element,
body mat-label,
body .mat-tab-group {
  font-family: Poppins, Helvetica, sans-serif !important;
}
body .mat-tab-group.mat-primary .mat-ink-bar,
body .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #0a8e9e !important;
}
body .mat-form-field-label-wrapper {
  display: none !important;
}
body span.error {
  color: red;
  font-size: 11px;
  margin-left: 2px;
}
body .form-group {
  margin-bottom: 1rem;
}
body body::-webkit-scrollbar {
  width: 1em;
}
/* body .form-control {
  padding: 0.5rem !important;
  font-size: 14px;
} */
/* body .input-group-text {
  background: transparent;
  border-right: none !important;
  padding-right: 2px;
}
body .input-group .form-control {
  border-left: none;
}
body .form-control:focus {
  border-color: #e2e5ec;
} */
body
  .kt-header-menu
  .kt-menu__nav
  > .kt-menu__item
  > .kt-menu__link
  .kt-menu__link-text {
  color: #111 !important;
}
body span.required {
  color: red;
}
.hidden {
  display: none;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.tab-content {
  padding: 20px;
}
/* .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 1.3rem + 8px);
  padding: 0.65rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e2e5ec;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
} */
.kt-header {
  background: #fff;
}
.kt-header__brand img {
  width: 180px;
}
.kt-header__topbar
  .kt-header__topbar-item.kt-header__topbar-item--user
  .kt-header__topbar-username {
  display: flex;
  align-self: center;
  padding: 0 0.55rem 0 0;
  font-weight: 500;
  font-size: 1rem;
  color: #111 !important;
}
.kt-header__topbar
  .kt-header__topbar-item.kt-header__topbar-item--user
  .kt-header__topbar-welcome {
  display: flex;
  align-self: center;
  padding: 0 0.55rem 0 0;
  font-weight: 500;
  font-size: 1rem;
  color: #111 !important;
}

.hidden {
  display: none;
}

.kt-footer {
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center center;
  background-color: #074a79;
  color: #fff !important;
}
.kt-footer a,
.kt-footer a:hover {
  color: #fff !important;
}
.kt-footer .kt-footer__bottom .kt-footer__logo .kt-footer__copyright {
  margin: 0;
  padding: 0 1.25rem 0 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}
#kt_content {
  min-height: 700px;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.25rem;
  border-bottom: 1px solid #074a79;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  background: #074a79;
  color: #fff;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
  border-radius: 0.3rem;
  outline: 0;
}
.modal .modal-content .modal-header .modal-title {
  font-weight: 500;
  font-size: 1.3rem;
  color: #fff;
}
.modal .modal-content .modal-header .close {
  outline: none !important;
  color: #fff;
  font-family: 'LineAwesome';
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  transition: all 0.3s;
}

.kt-wizard-v2__nav-icon {
  position: absolute;
  right: 0;
}

.kt-wizard-v2__nav-icon:before {
  position: absolute;
  border: 1px solid #999;
  width: 0;
  height: 41px;
  display: block;
  content: '';
  left: 50%;
  z-index: 1;
  top: -41px;
  margin-left: -1px;
}
.kt-wizard-v2__nav-icon.first:before {
  display: none;
}

.kt-wizard-v2
  .kt-wizard-v2__aside
  .kt-wizard-v2__nav
  .kt-wizard-v2__nav-items
  .kt-wizard-v2__nav-item[data-ktwizard-state='current'] {
  background: none;
}
.kt-wizard-v2
  .kt-wizard-v2__aside
  .kt-wizard-v2__nav
  .kt-wizard-v2__nav-items
  .kt-wizard-v2__nav-item {
  padding: 1.75rem 1.5rem;
  position: relative;
  border-radius: 0.5rem;
}
.kt-wizard-v2__nav-body {
  float: right;
  margin-right: 40px;
}

.login-page {
  background-image: url(../img/admin-login-bg.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.kt-intro-img img {
  width: 300px;
}

.mat-form-field,
.kt-login .mat-form-field {
  width: 100%;
}
.kt-spinner,
.kt-login .kt-spinner {
  padding-right: 3rem !important;
}
.forgot_password,
.reset_password {
  padding: 20px;
}
.forgot_password .kt-login__title,
.reset_password .kt-login__title {
  margin-bottom: 20px;
}
.forgot_password,
.reset_password {
  min-height: 360px !important;
}
.forgot_password .kt-login__actions,
.reset_password .kt-login__actions {
  left: 0;
  right: 0;
  padding: 20px;
}
.kt-login__body {
  min-height: 300px;
}
span.mat-checkbox-label {
  font-family: Poppins, Helvetica, sans-serif !important;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 26px;
}
.kt-login__body.register__body {
  min-height: 540px;
}
.kt-login__block {
  padding: 0 30px;
}
.kt-login__form {
  margin: 0 !important;
}
.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0.4375em 0;
  border: 1px solid #ccc !important;
  padding: 10px !important;
}
.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
  margin-top: 0.54166667em;
  top: calc(100% - 1.66666667em);
  position: relative;
}
.mat-form-field-underline {
  display: none;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
  transform: perspective(100px);
  -ms-transform: none;
  padding: 5px 10px;
}
.mat-form-field.mat-focused .mat-form-field-label {
  color: #3a84a1;
}
.kt-login-logo-container {
  text-align: center;
  padding: 20px;
}
.kt-login__actions {
  margin-top: 20px;
  text-align: center;
}
.kt-login__title {
  color: #0a8e9e;
}
.kt-intro-img img {
  width: 300px;
}
.card-signin {
  border-radius: 4px;
}
.card-signin .card-body {
  padding: 0;
}
.mat-tab-body-wrapper {
  padding: 20px;
}
.kt-login-logo-container img {
  height: 80px;
  width: auto;
}
.mat-tab-label-content {
  font-size: 17px;
}
.kt-login__extra {
  text-align: center;
  font-size: 14px;
}
.kt-login__actions {
  margin-top: 20px;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.kt-login__actions .form-group {
  margin-bottom: 0;
}
.mat-tab-label {
  height: 60px !important;
  width: 50% !important;
  color: #505050;
  font-weight: 400;
}
.mat-tab-link {
  color: #505050;
}
.kt-login__btn-primary {
  width: 100%;
}
.kt-login-box {
  min-width: 380px;
}
.container,
.row {
  /*height: 100%;*/
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding: 0;
}
.login-card {
  position: relative;
  min-height: 300px;
}
.signup-card {
  position: relative;
  min-height: 500px;
}
.login-page .nav-tabs .nav-item {
  width: 50%;
  margin-right: 0 !important;
  text-align: center;
}

.kt-wizard-v2 .kt-wizard-v2__wrapper .kt-form {
  width: 100%;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.deleteLocation,
.deleteDemandRow {
  float: right;
  margin: 2px 0;
}
.demandRow {
  background: #f7f7f7;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
}
.kt-wizard-v2__review-title .fa-edit {
  margin-left: 10px;
  color: #0a8e9e;
  font-size: 16px;
}
.stepsWizard {
  padding: 40px;
}
.stepsWizard .steps {
  list-style: none;
  padding-left: 0;
}
.stepsWizard .steps li {
  padding: 20px 10px;
  text-align: right;
  position: relative;
}
.stepsWizard .stepsList {
  border-right: 1px solid #eee;
}
.stepsWizard ul.steps li i {
  font-size: 30px;
  vertical-align: middle;
  margin-left: 10px;
}

.stepsWizard .steps .icon:before {
  position: absolute;
  border: 1px solid #999;
  width: 0;
  height: 42px;
  display: block;
  content: '';
  right: 25px;
  z-index: 1;
  top: -21px;
  margin-left: -1px;
}

.stepsWizard .steps .icon.first:before {
  display: none;
}
.stepsWizard .steps .active > .icon {
  color: #074a79;
}
.stepsWizard .steps .completed > a .icon i:before {
  content: '\f058' !important;
  color: #074a79;
}
.stepsWizard .steps a {
  color: #505050 !important;
}
.stepsWizard .steps .active > a .icon {
  color: #074a79 !important;
}
.kt-portlet .kt-portlet__body {
  padding: 10px 25px !important;
}
/* .input-daterange.input-group .form-control {
  border-left: 1px solid #e2e5ec;
} */
.stepButtons {
  margin-top: 40px;
  border-top: 1px solid #eeeef4;
  padding: 30px 0;
}
.modal-open .modal {
  display: flex !important;
  align-items: center !important;
}
.modal-dialog {
  flex-grow: 1;
}
.stepEditLink {
  cursor: pointer;
}

.kt-wizard-v2__review-title {
  font-size: 18px;
  border-bottom: 1px solid #eee;
  margin: 20px 0;
}

.kt-sidebar {
  padding: 40px 20px;
}
.kt-widget.kt-widget--project-1 .kt-widget__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 10px;
}
.kt-widget.kt-widget--project-1 .kt-widget__body {
  padding: 10px;
  height: 100%;
  padding-top: 0 !important;
}
.kt-widget.kt-widget--project-1
  .kt-widget__body
  .kt-widget__stats
  .kt-widget__item {
  padding-top: 0 !important;
}
.kt-widget.kt-widget--project-1 .kt-widget__footer .kt-widget__wrapper {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.kt-widget.kt-widget--project-1
  .kt-widget__footer
  .kt-widget__wrapper
  .kt-widget__section
  .kt-widget__blog:last-child {
  padding-left: 0;
}
.kt-widget.kt-widget--project-1
  .kt-widget__footer
  .kt-widget__wrapper
  .kt-widget__section
  .kt-widget__blog
  .kt-widget__value {
  font-weight: normal;
  padding-left: 0;
}
.kt-widget.kt-widget--project-1
  .kt-widget__body
  .kt-widget__stats
  .kt-widget__item
  .kt-widget__date,
.kt-widget.kt-widget--user-profile-3
  .kt-widget__top
  .kt-widget__content
  .kt-widget__info
  .kt-widget__stats
  .kt-widget__item
  .kt-widget__date {
  color: #595d6e;
  font-weight: normal;
  padding-bottom: 0;
  display: block;
  font-size: 13px;
  line-height: 16px;
}
.demand-item .status {
  margin-right: 10px;
}
.capitalize {
  text-transform: capitalize;
}
.kt-widget.kt-widget--project-1
  .kt-widget__body
  .kt-widget__stats
  .kt-widget__item:not(:first-child):not(:last-child),
.kt-widget.kt-widget--user-profile-3
  .kt-widget__top
  .kt-widget__content
  .kt-widget__info
  .kt-widget__stats
  .kt-widget__item:not(:first-child):not(:last-child) {
  margin: 0;
  margin-left: 30px;
}
.kt-widget.kt-widget--project-1
  .kt-widget__body
  .kt-widget__stats
  .kt-widget__item:last-child,
.kt-widget.kt-widget--user-profile-3
  .kt-widget__top
  .kt-widget__content
  .kt-widget__info
  .kt-widget__stats
  .kt-widget__item:last-child {
  margin-left: 30px;
  padding-left: 0;
}
.kt-widget.kt-widget--user-profile-3
  .kt-widget__top
  .kt-widget__content
  .kt-widget__info
  .kt-widget__stats
  .kt-widget__item {
  padding-top: 0;
}
.demand-item .kt-widget__desc span {
  font-size: 14px;
  font-weight: normal;
}
.kt-widget.kt-widget--project-1
  .kt-widget__head
  .kt-widget__label
  .kt-widget__info
  .kt-widget__desc {
  padding-top: 0.4rem;
  color: #595d6e;
  font-weight: normal;
  display: block;
}
.theme-green .bs-datepicker-head {
  background-color: #074a79 !important;
}
.theme-green .bs-datepicker-body table td.week span {
  color: #074a79 !important;
}
.bs-datepicker-head button:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.bs-datepicker-container {
  padding: 0 !important;
}

.bs-datepicker-body {
  border: none !important;
}
ngx-intl-tel-input {
  display: block;
  /* width: 100%; */
}
.intl-tel-input {
  width: 100%;
}
.intl-tel-input input#phone {
  width: 100% !important;
  height: 38px;
  border: 1px solid #e2e5ec;
  border-radius: 4px;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 700px;
    margin: 1.75rem auto;
  }
}
ul.nostyle {
  list-style: none;
  padding-left: 0px;
}
.showDetailsDemand {
  margin-top: 34px;
}
.collapseBtn {
  margin-left: 5px;
}
[data-toggle='collapse'] .fa:before {
  content: '\f139';
}

[data-toggle='collapse'].collapsed .fa:before {
  content: '\f13a';
}
.collapse:not(.show) {
  display: none !important;
}
@media (min-width: 1025px) {
  .kt-header-menu
    .kt-menu__nav
    > .kt-menu__item
    > .kt-menu__link
    .kt-menu__link-text {
    font-weight: 500;
    font-size: 1.1rem;
    text-transform: initial;
  }
}
.alignMe b,
.alignMe strong {
  display: inline-block;
  width: 50%;
  position: relative;
  padding-right: 10px; /* Ensures colon does not overlay the text */
}

.alignMe b::after,
.alignMe strong::after {
  content: ':';
  position: absolute;
  right: 10px;
}
.cke_bottom {
  display: none !important;
}
.detailed_list_item {
  border-bottom: 1px solid #f7f8fa;
  padding: 15px 0;
}
.detailed_list_title h5 {
  color: #111;
  font-size: 16px;
}
span.detailed_list_label {
  display: block;
  font-size: 13px;
  line-height: 1rem;
  color: #909090;
}
.options_btn {
  margin-left: 10px;
}
.status {
  width: 100px;
}
.kt-iconbox__icon i {
  font-size: 36px;
  padding-top: 10px;
  display: block;
}
.mleft20 {
  margin-left: 20px;
}
.liWithDeleteIcon {
  list-style: none;
  padding-left: 10px;
}
.liWithDeleteIcon .deleteLiItem {
  margin-right: 5px;
  cursor: pointer;
}
.liWithDeleteIcon li {
  /* margin-bottom: 5px; */
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}
.ngx-pagination .current {
  padding: 0.1875rem 0.625rem;
  background: #0a8e9e !important;
  color: #fefefe;
  cursor: default;
}
a.btn i {
  color: #fff !important;
}
.rounded-lg {
  border-radius: 1rem !important;
}
.text-small {
  font-size: 0.9rem !important;
}
.custom-separator {
  width: 5rem;
  height: 6px;
  border-radius: 1rem;
}
.text-uppercase {
  letter-spacing: 0.2em;
}
.pricingPage .kt-portlet {
  background: none !important;
  box-shadow: none !important;
}
.bg-primary {
  background-color: #074a79 !important;
}
.text-primary {
  color: #074a79 !important;
}
label {
  font-size: 1rem;
  font-weight: 400;
}
.ng-select .ng-select-container {
  color: #495057;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e2e5ec !important;
  min-height: 36px;
  align-items: center;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  background-color: #fff;
  color: #495057 !important;
  padding: 8px 10px;
}
.ng-select-container .ng-value {
  color: #495057;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected.ng-option-marked {
  color: #333;
  background-color: #f1f1f1;
}
.stepButtons > span {
  margin-left: 10px;
  font-size: 14px;
}
.kt-nav .kt-nav__item.kt-nav__item--active > .kt-nav__link .kt-nav__link-icon,
.kt-nav .kt-nav__item.kt-nav__item--active > .kt-nav__link .kt-nav__link-text,
.kt-nav .kt-nav__item.kt-nav__item--active > .kt-nav__link .kt-nav__link-arrow,
.kt-nav .kt-nav__item.active > .kt-nav__link .kt-nav__link-icon,
.kt-nav .kt-nav__item.active > .kt-nav__link .kt-nav__link-text,
.kt-nav .kt-nav__item.active > .kt-nav__link .kt-nav__link-arrow,
.kt-nav
  .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)
  > .kt-nav__link
  .kt-nav__link-icon,
.kt-nav
  .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)
  > .kt-nav__link
  .kt-nav__link-text,
.kt-nav
  .kt-nav__item:hover:not(.kt-nav__item--disabled):not(.kt-nav__item--sub)
  > .kt-nav__link
  .kt-nav__link-arrow {
  color: #0a8e9e !important;
}
.mb10 {
  margin-bottom: 10px;
}
.m-3.radioButtons input {
  margin-left: 5px;
  margin-right: 5px;
}
.displayBlock {
  display: block !important;
}
.nopad {
  padding: 0px !important;
}
.tabBtnContainer .tabBtn {
  height: 60px;
  padding: 15px;
  cursor: pointer;
}
.offer-list-item.row {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}
