<div class="kt-portlet kt-portlet--mobile">
  <!-- <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        
      </h3>
    </div>
  </div> -->
  <div class="kt-portlet__body">
    <div class="row">
      <div class="col-md-6">
        <h5>Complete your profile ({{stepComplete}}/{{steps.length}})</h5>
        <progress-bar *ngIf="appData.is_welcome == 1" [progress]="progress" [color-degraded]="{
            '0': '#00cbcb',
            '15': '#f9c3d3',
            '25': '#fd8c8e'
          }">
        </progress-bar>
        <ul class="nostyle profileStepsList">
          <li [ngClass]="{'completed':data[1]['completed']}" *ngFor="let data of steps">
            <i class="flaticon2-checkmark" aria-hidden="true"></i>
            <span>{{data[1]['name']}}</span>
          </li>
          <!-- <li>
            <i class="flaticon2-checkmark" aria-hidden="true"></i>
            <span>Locations</span>
          </li> -->
        </ul>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="kt-portlet kt-iconbox kt-iconbox--wave">
      <div class="kt-portlet__body">
        <div class="kt-iconbox__body">
          <div class="kt-iconbox__icon kt-font-success">
            <i class="flaticon2-list-1"></i>
          </div>
          <div class="kt-iconbox__desc">
            <h3 class="kt-iconbox__title">
              <a class="kt-link" href="#">{{
                total_active_demands ? total_active_demands : '-'
              }}</a>
            </h3>
            <div class="kt-iconbox__content">
              Total Active Demands
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="kt-portlet kt-iconbox kt-iconbox--wave">
      <div class="kt-portlet__body">
        <div class="kt-iconbox__body">
          <div class="kt-iconbox__icon kt-font-info">
            <i class="flaticon2-line-chart"></i>
          </div>
          <div class="kt-iconbox__desc">
            <h3 class="kt-iconbox__title">
              <a class="kt-link" href="#">{{
                total_qoutes_demands ? total_qoutes_demands : '-'
              }}</a>
            </h3>
            <div class="kt-iconbox__content">
              Total Quotes Demands
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="kt-portlet kt-iconbox kt-iconbox--wave">
      <div class="kt-portlet__body">
        <div class="kt-iconbox__body">
          <div class="kt-iconbox__icon kt-font-warning">
            <i class="flaticon-medal"></i>
          </div>
          <div class="kt-iconbox__desc">
            <h3 class="kt-iconbox__title">
              <a class="kt-link" href="#">{{
                demands_won ? demands_won : '-'
              }}</a>
            </h3>
            <div class="kt-iconbox__content">
              Demands Won
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="kt-portlet kt-iconbox kt-iconbox--wave">
      <div class="kt-portlet__body">
        <div class="kt-iconbox__body">
          <div class="kt-iconbox__icon kt-font-danger">
            <i class="flaticon2-layers"></i>
          </div>
          <div class="kt-iconbox__desc">
            <h3 class="kt-iconbox__title">
              <a class="kt-link" href="#">{{
                demands_lost ? demands_lost : '-'
              }}</a>
            </h3>
            <div class="kt-iconbox__content">
              Demands Lost
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--End::Row-->
<div class="row">
  <div class="col-md-12">
    <div class="kt-portlet kt-portlet--mobile">
      <div class="kt-portlet__head nopad">
        <div class="kt-portlet__head-label tabBtnContainer">
          <a (click)="selectAgency('newDemand')" [ngClass]="{
              active: show('newDemand'),
              deactive: !show('newDemand')
            }" class="tabBtn" id="kt_search">
            <span>
              <span>New Demands</span>
            </span>
          </a>
          <a (click)="selectAgency('quotesSent')" [ngClass]="{
              active: show('quotesSent'),
              deactive: !show('quotesSent')
            }" class="tabBtn" id="kt_search">
            <span>
              <span>Quotes Sent</span>
            </span>
          </a>
          <a (click)="selectAgency('demandWon')" [ngClass]="{
              active: show('demandWon'),
              deactive: !show('demandWon')
            }" class="tabBtn" id="kt_search">
            <span>
              <span>Demands Won</span>
            </span>
          </a>
        </div>
      </div>
      <div class="kt-portlet__body">
        <div class="detailed_list">
          <div class="detailed_list_item row" [ngClass]="{
              isShow: show('newDemand'),
              isHide: !show('newDemand')
            }">
            <div class="col-md-3 detailed_list_title">
              <h5>
                DEMO
              </h5>
            </div>

            <div class="col-md-2">
              26/04/20202
              <span class="detailed_list_label">Posted Date</span>
            </div>
            <div class="col-md-2">
              India
              <span class="detailed_list_label">Location</span>
            </div>

            <div class="col-md-2">
              demo
              <span class="detailed_list_label">Categories</span>
            </div>
            <div class="col-md-1">
              22
              <span class="detailed_list_label">Total Demands</span>
            </div>
            <div class="col-md-2 text-center">
              <a href=" #" class="btn btn-clean btn-sm btn-icon btn-icon-md options_btn" data-toggle="dropdown">
                <i class="flaticon-more-1"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">
                <ul class="kt-nav">
                  <li class="kt-nav__item">
                    <!-- <a href="#" class="kt-nav__link"
                                            routerLink="/user/demandview/{{ arrayItem.id }}">
                                            <i class="kt-nav__link-icon flaticon-eye"></i>
                                            <span class="kt-nav__link-text">View</span>
                                        </a> -->
                  </li>
                  <li class="kt-nav__item" *ngIf="appData.role == 'Employer'">
                    <!-- <a routerLink="/user/demand/{{ arrayItem.id }}" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon-edit"></i>
                                            <span class="kt-nav__link-text">Edit</span>
                                        </a> -->
                  </li>
                  <li class="kt-nav__item" *ngIf="appData.role == 'Employer'">
                    <!-- <a (click)="createDuplicateDemand(arrayItem.id)" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-copy"></i>
                                            <span class="kt-nav__link-text">Duplicate</span>
                                        </a> -->
                  </li>
                  <li class="kt-nav__item" *ngIf="appData.role == 'Employer'">
                    <!-- <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-trash"></i>
                                            <span class="kt-nav__link-text">Delete</span>
                                        </a> -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="detailed_list_item row" [ngClass]="{
              isShow: show('quotesSent'),
              isHide: !show('quotesSent')
            }">
            <div class="col-md-3 detailed_list_title">
              <h5>
                DEMO44
              </h5>
            </div>

            <div class="col-md-2">
              26/04/20202
              <span class="detailed_list_label">Posted Date</span>
            </div>
            <div class="col-md-2">
              India
              <span class="detailed_list_label">Location</span>
            </div>

            <div class="col-md-2">
              demo
              <span class="detailed_list_label">Categories</span>
            </div>
            <div class="col-md-1">
              22
              <span class="detailed_list_label">Total Demands</span>
            </div>
            <div class="col-md-2 text-center">
              <a href=" #" class="btn btn-clean btn-sm btn-icon btn-icon-md options_btn" data-toggle="dropdown">
                <i class="flaticon-more-1"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">
                <ul class="kt-nav">
                  <li class="kt-nav__item">
                    <!-- <a href="#" class="kt-nav__link"
                                            routerLink="/user/demandview/{{ arrayItem.id }}">
                                            <i class="kt-nav__link-icon flaticon-eye"></i>
                                            <span class="kt-nav__link-text">View</span>
                                        </a> -->
                  </li>
                  <li class="kt-nav__item" *ngIf="appData.role == 'Employer'">
                    <!-- <a routerLink="/user/demand/{{ arrayItem.id }}" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon-edit"></i>
                                            <span class="kt-nav__link-text">Edit</span>
                                        </a> -->
                  </li>
                  <li class="kt-nav__item" *ngIf="appData.role == 'Employer'">
                    <!-- <a (click)="createDuplicateDemand(arrayItem.id)" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-copy"></i>
                                            <span class="kt-nav__link-text">Duplicate</span>
                                        </a> -->
                  </li>
                  <li class="kt-nav__item" *ngIf="appData.role == 'Employer'">
                    <!-- <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-trash"></i>
                                            <span class="kt-nav__link-text">Delete</span>
                                        </a> -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="detailed_list_item row" [ngClass]="{
              isShow: show('demandWon'),
              isHide: !show('demandWon')
            }">
            <div class="col-md-3 detailed_list_title">
              <h5>
                DEMO22
              </h5>
            </div>

            <div class="col-md-2">
              26/04/20202
              <span class="detailed_list_label">Posted Date</span>
            </div>
            <div class="col-md-2">
              India
              <span class="detailed_list_label">Location</span>
            </div>

            <div class="col-md-2">
              demo
              <span class="detailed_list_label">Categories</span>
            </div>
            <div class="col-md-1">
              22
              <span class="detailed_list_label">Total Demands</span>
            </div>
            <div class="col-md-2 text-center">
              <a href=" #" class="btn btn-clean btn-sm btn-icon btn-icon-md options_btn" data-toggle="dropdown">
                <i class="flaticon-more-1"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right">
                <ul class="kt-nav">
                  <li class="kt-nav__item">
                    <!-- <a href="#" class="kt-nav__link"
                                            routerLink="/user/demandview/{{ arrayItem.id }}">
                                            <i class="kt-nav__link-icon flaticon-eye"></i>
                                            <span class="kt-nav__link-text">View</span>
                                        </a> -->
                  </li>
                  <li class="kt-nav__item" *ngIf="appData.role == 'Employer'">
                    <!-- <a routerLink="/user/demand/{{ arrayItem.id }}" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon-edit"></i>
                                            <span class="kt-nav__link-text">Edit</span>
                                        </a> -->
                  </li>
                  <li class="kt-nav__item" *ngIf="appData.role == 'Employer'">
                    <!-- <a (click)="createDuplicateDemand(arrayItem.id)" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-copy"></i>
                                            <span class="kt-nav__link-text">Duplicate</span>
                                        </a> -->
                  </li>
                  <li class="kt-nav__item" *ngIf="appData.role == 'Employer'">
                    <!-- <a href="#" class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-trash"></i>
                                            <span class="kt-nav__link-text">Delete</span>
                                        </a> -->
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>