.is-invalid >.input{
    border:1px solid red;
}
.isActive{
    display: show;;
}
.is-hide{
    display:none;
}
.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}
.showDetail{
display: block;;
}
.hideDetail{
    display: none;;
    }
/* Border Color */
.ng-select.ng-invalid.ng-touched .ng-select-container{
    border-color: red;
}
/* Arrow Color */
.ng-select.ng-invalid.ng-touched .ng-arrow-wrapper .ng-arrow{
    border-color: red transparent transparent
}
/* Placeholder Color */
.ng-select.ng-invalid.ng-touched .ng-select-container .ng-placeholder{
    color: red;
}