<div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
  <div class="kt-content kt-content--fit-top kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
      <div class="kt-container">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            Create Demand
          </h3>

        </div>
        <div class="kt-subheader__toolbar">
          <div class="kt-subheader__wrapper">


          </div>
        </div>
      </div>
    </div>


    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
      <div class="kt-portlet">
        <div class="kt-portlet__body kt-portlet__body--fit">
          <div class="row stepsWizard">
            <div class="col-md-3 stepsList">
              <ul class="steps">
                <li (click)="changeStep('step1')"
                  [ngClass]="{ 'completed': isTabActive(1),'disabled':isTabDisabled(1) }">
                  <a (click)="showTab(1)" role="tab" title="Step 1"> Create Demand <span class="first icon"><i
                        class="fa fa-circle"></i> </span>
                  </a></li>
                <li (click)="changeStep('step2')"
                  [ngClass]="{ 'completed': isTabActive(2),'disabled':isTabDisabled(2) }" class=""> <a
                    (click)="showTab(2)" role="tab" title="Step 1">Benefits <span class="icon"><i
                        class="fa fa-circle"></i>
                    </span></a></li>
                <li (click)="changeStep('step3')"
                  [ngClass]="{ 'completed': isTabActive(3),'disabled':isTabDisabled(3) }">
                  <a (click)="showTab(3)" role="tab" title="Step 1">Terms & Conditions <span class="icon"><i
                        class="fa fa-circle"></i> </span></a></li>
                <li (click)="changeStep('step4')"
                  [ngClass]="{ 'completed': isTabActive(4),'disabled':isTabDisabled(4) }" class=""><a
                    (click)="showTab(4)" role="tab" title="Step 1">Post Demand <span class="icon"><i
                        class="fa fa-circle"></i>
                    </span></a></li>
              </ul>
            </div>
            <div class="col-md-9">
              <div class="stepContainer" id="step1"
                [ngClass]="{ 'is-display': isTabActive(1),'is-hide': !isTabActive(1)}">

                <h3>Create Demand</h3>
                <form role="form" #MySelectForm="ngForm" (submit)="demandFirst()">
                  <div class="col-md-6 pull-left">
                    <label class="kt-option">
                      <span class="kt-option__control">
                        <span class="kt-radio kt-radio--bold kt-radio--brand">
                          <input type="radio" name="demand" [(ngModel)]="hireDemand" value="locally" (change)="checkDemand($event)">
                          <span></span>
                        </span>
                      </span>
                      <span class="kt-option__label">
                        <span class="kt-option__head">
                          <span class="kt-option__title">
                            Hire locally
                          </span>
                          <span class="kt-option__focus">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                          </span>
                        </span>
                        <span class="kt-option__body">
                          If you want to post your demand for local region
                        </span>
                      </span>
                    </label>
                  </div>
                  <div class="col-md-6 pull-right">
                    <label class="kt-option">
                      <span class="kt-option__control">
                        <span class="kt-radio kt-radio--bold kt-radio--brand">
                          <input type="radio" name="demand" [(ngModel)]="hireDemand" value="overseas" (change)="checkDemand($event)">
                          <span></span>
                        </span>
                      </span>
                      <span class="kt-option__label">
                        <span class="kt-option__head">
                          <span class="kt-option__title">
                            Hire Overseas
                          </span>
                          <span class="kt-option__focus">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                          </span>
                        </span>
                        <span class="kt-option__body">
                          If you want to post your demand for globally
                        </span>
                      </span>
                    </label>
                  </div>
                  <div class="col-md-12" [ngClass]="{'isActive':isActive(),'is-hide':!isActive()}">
                    <ng-select [items]="countries" name="country" required bindValue="code" bindLabel="name" appendTo="body"
                      [(ngModel)]="selectedCity">
                    </ng-select>
                  </div>
                  <button type="submit" class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                    data-ktwizard-type="action-next">
                    Next Step
                  </button>
                </form>
              </div>

              <!--end: Form Wizard Step 1-->

              <!--begin: Form Wizard Step 2-->
              <div class="stepContainer" id="step1"
                [ngClass]="{ 'is-display': isTabActive(2),'is-hide': !isTabActive(2)}">
                <form class="kt-form" id="kt_form" novalidate="novalidate" [formGroup]="locationForm"
                  (ngSubmit)="locationSubmit()">
                  <div class="kt-heading kt-heading--md">
                    Locations
                  </div>
                  <div class="kt-form__section kt-form__section--first">
                    <div class="kt-wizard-v2__form">

                      <div class="row">
                        <div class="col-xl-10">
                          <div class="form-group">
                            <label>Address</label>
                            <div formArrayName="location"
                              *ngFor="let arrayItem of locationForm.get('location')['controls']; let i=index">
                              <div [formGroupName]="i" [ngClass]="{ 'is-invalid': locationSubmitted && getValidity(i)}">

                                <AutocompleteComponent (setAddress)="getAddress($event,i)" adressType="geocode"
                                  address="{{arrayItem.value.address}}">
                                </AutocompleteComponent>
                                <!-- <input type="text" class="form-control" formControlName="address"
                                  placeholder="Type in your address" aria-describedby="address1-error" /> -->
                                <a class="" *ngIf="locationForm.controls['location'].controls.length>1"
                                  (click)="removeItem(i)">Delete</a>
                                <div class="form-text text-muted invalid-feedback"
                                  *ngIf="locationSubmitted && getValidity(i)">
                                  Please enter your
                                  Address.</div>

                              </div>

                            </div>

                          </div>
                        </div>
                        <div class="col-xl-2">
                          <div>
                            <a (click)="addItem()" class="btn btn-primary locationAdd"><i class="fa fa-plus"></i></a>
                          </div>
                        </div>

                      </div>
                      <button class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                        (click)="goPrevious()" data-ktwizard-type="action-prev">
                        Previous
                      </button>
                      <button type="submit"
                        class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                        data-ktwizard-type="action-next">
                        Next Step
                      </button>

                    </div>
                  </div>
                </form>
              </div>

              <!--end: Form Wizard Step 2-->

              <!--begin: Form Wizard Step 3-->
              <div class="stepContainer" id="step1"
                [ngClass]="{ 'is-display': isTabActive(3),'is-hide': !isTabActive(3)}">
                <div class="kt-heading kt-heading--md">
                  Tell us about your company (Optional)
                </div>
                <div class="kt-form__section kt-form__section--first">
                  <form class="kt-form" id="kt_form" novalidate="novalidate" [formGroup]="aboutForm"
                    (ngSubmit)="aboutSubmit()">
                    <div class="kt-wizard-v2__form">
                      <div class="form-group">
                        <label>About</label>
                        <ckeditor formControlName="about_company" [config]="ckeConfig" debounce="500">
                        </ckeditor>
                      </div>
                      <button (click)="goPrevious()"
                        class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                        data-ktwizard-type="action-prev">
                        Previous
                      </button>
                      <button type="submit"
                        class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                        data-ktwizard-type="action-next">
                        Next Step
                      </button>
                    </div>
                  </form>
                </div>
              </div>

              <!--end: Form Wizard Step 3-->



              <!--begin: Form Wizard Step 6-->
              <div class="stepContainer" id="step1"
                [ngClass]="{ 'is-display': isTabActive(4),'is-hide': !isTabActive(4)}">
                <div class="kt-heading kt-heading--md">
                  Review your Details and Submit
                </div>
                <div class="kt-form__section kt-form__section--first">
                  <div class="kt-wizard-v2__review">
                    <div class="kt-wizard-v2__review-item">
                      <div class="kt-wizard-v2__review-title">
                        Basic Information <a (click)="showTab(1)"><i class="far fa-edit"></i></a>
                      </div>
                      <div class="kt-wizard-v2__review-content">
                        {{appData.first_name}}{{appData.last_name}}<br />
                        Phone: {{appData.phone_number}}<br />
                        Email: {{appData.email}}
                      </div>
                    </div>
                    <div class="kt-wizard-v2__review-item">
                      <div class="kt-wizard-v2__review-title">
                        Locations <a (click)="showTab(2)"><i class="far fa-edit"></i></a>
                      </div>
                      <div class="kt-wizard-v2__review-content" *ngFor="let location of appData.users_locations">
                        {{location.address}}<br />
                      </div>
                    </div>
                    <div class="kt-wizard-v2__review-item">
                      <div class="kt-wizard-v2__review-title">
                        About <a (click)="showTab(3)"><i class="far fa-edit"></i></a>
                      </div>
                      <div class="kt-wizard-v2__review-content" [innerHtml]="appData.about_company">

                      </div>
                    </div>
                    <button (click)="goPrevious()"
                      class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                      data-ktwizard-type="action-prev">
                      Previous
                    </button>
                    <button type="submit"
                      class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u"
                      data-ktwizard-type="action-submit" (click)="reviewSubmit()">
                      Submit
                    </button>
                  </div>
                </div>
              </div>

              <!--end: Form Wizard Step 6-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end:: Content -->
  </div>
</div>