<div
  class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch"
  id="kt_body"
>
  <div
    class="kt-content kt-content--fit-top kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
    id="kt_content"
  >
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
      <div class="kt-container">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            Change Password
          </h3>
        </div>

        <div class="kt-subheader__main"></div>
      </div>
    </div>
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head">
              <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                  Reset Your password
                </h3>
              </div>
            </div>
            <div class="kt-portlet__body">
              <form
                [formGroup]="regForm1"
                (ngSubmit)="changePassword(regForm1)"
              >
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12 mt-30" id="passform">
                      <div class="form-group">
                        <label>Old Password*</label>
                        <input
                          formControlName="oldpassword"
                          type="password"
                          class="form-control"
                          placeholder="Enter password"
                        />

                        <div>
                          <span
                            *ngIf="
                              submitted &&
                              regForm1.get('oldpassword').errors.required
                            "
                            class="help-block text-danger"
                          >
                            Old Password is required.
                          </span>

                          <span
                            *ngIf="
                              !regForm1.get('oldpassword').errors.required &&
                              (regForm1.get('oldpassword').errors.minlength ||
                                regForm1.get('oldpassword').errors.maxlength)
                            "
                            class="help-block text-danger"
                          >
                            *Old Password must be 6-20 characters long.
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>New Password*</label>
                        <input
                          formControlName="password"
                          type="password"
                          class="form-control"
                          placeholder="Enter password"
                        />

                        <div>
                          <span
                            *ngIf="
                              submitted &&
                              regForm1.get('password').errors.required
                            "
                            class="help-block text-danger"
                          >
                            *New Password is required.
                          </span>

                          <span
                            *ngIf="
                              !regForm1.get('password').errors.required &&
                              (regForm1.get('password').errors.minlength ||
                                regForm1.get('password').errors.maxlength)
                            "
                            class="help-block text-danger"
                          >
                            *New Password must be 6-20 characters long.
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div
                        [ngClass]="{
                          'has-error':
                            regForm1.get('confirm_password').value !==
                              regForm1.get('password').value &&
                            regForm1.get('confirm_password').touched
                        }"
                        class="form-group"
                      >
                        <label>Confirm Password*</label>
                        <input
                          formControlName="confirm_password"
                          type="password"
                          class="form-control"
                          placeholder="Confirm password"
                        />

                        <div
                          *ngIf="
                            regForm1.get('confirm_password').value !==
                              regForm1.get('password').value &&
                            regForm1.get('confirm_password').touched
                          "
                        >
                          <span class="help-block text-danger">
                            Confirm password must be same.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row center-block">
                  <button class="btn btn-success btn-radius mt-3">
                    Update Password
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- end:: Content -->
    </div>
  </div>
</div>
