<div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
  <div class="kt-content kt-content--fit-top kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
      <div class="kt-container">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            Dashboard
          </h3>
        </div>
        <div class="kt-subheader__toolbar1">
          <div class="kt-subheader__wrapper1"></div>
        </div>
      </div>
    </div>

    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
  

      <!--Begin::Dashboard 3-->

      <app-employer-dashboard *ngIf="appData.role == 'Employer'"></app-employer-dashboard>
      <app-agency-dashboard *ngIf="appData.role == 'Agency'"></app-agency-dashboard>
      <!--End::Dashboard 3-->
    </div>

    <!-- end:: Content -->
  </div>
</div>
<div #myDiv id="tutor-price" (click)="open(content)"></div>
<div #myDiv2 id="tutor-price2" (click)="open(content2)"></div>
<ng-template #content let-modal class="modal-dialog-centered">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <span>Welcome to {{ loginService.getCompany() }} page!</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click ')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="ticket-content mb-4">
      <p>
        You’re just a couple of steps away from finding the right agency.
      </p>
      <p>
        Please update your company information including company trade license
        and identity that will help us verify your company before we take your
        demand.
      </p>
      <p>
        Please, add your basic information first to unlock the following tabs
      </p>
    </div>
    <br />
    <a (click)="editPage()" class="btn">Get Started</a>
  </div>
  <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click ')">Save</button>
    </div> -->
</ng-template>

<ng-template #content2 let-modal class="modal-dialog-centered">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <span>Welcome to {{ loginService.getCompany() }} page!</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click ')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="ticket-content mb-4">
      <p>
        <strong>
          Congratulations! You have received $1,000 joining bonus from Supplio
          in your wallet. In order to use this credit, please complete your
          profile.
        </strong>
      </p>
      <p>
        Welcome to your agency editing page!
      </p>
      <p>
        Here, you'll be able to update all the information related to your
        agency, including data that will help you refine your positioning in
        order to receive more relevant opportunities.
      </p>
      <p>
        Kindly make sure you have the following handy with you to complete your
        agency profile.
      </p>
      <ul class="nostyle">
        <li>✓ Company manpower license. <i class="fa fa-info"></i></li>
        <li>
          ✓ Proof of Identity/Owner passport copy. <i class="fa fa-info"></i>
        </li>
        <li>
          ✓ Certifications (ISO, FLA, RBA, IRIS etc.), if any.
          <i class="fa fa-info"></i>
        </li>
        <li>✓ Your team’s profiles & photos. <i class="fa fa-info"></i></li>
        <li>✓ Your company photos. <i class="fa fa-info"></i></li>
      </ul>
      <p>
        Please, add your basic information first unlock the following tabs.
      </p>
      <p>
        If you find any difficulty during the sign-up process, please contact us
        on our WhatsApp.
      </p>
      <p>
        Best of Luck!
      </p>
    </div>
    <br />
    <a (click)="editAgency()" class="btn">Get Started</a>
  </div>
  <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click ')">Save</button>
    </div> -->
</ng-template>