<div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
  <div class="kt-content kt-content--fit-top kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <!-- begin:: Subheader -->
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
      <div class="kt-container">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            Dashboard
          </h3>

        </div>
        <div class="kt-subheader__toolbar">
          <div class="kt-subheader__wrapper">


          </div>
        </div>
      </div>
    </div>

    <!-- end:: Subheader -->

    <!-- begin:: Content -->
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
      <!--Begin::Dashboard 3-->

      <div class="row">
        <div class="col-md-3">
          <div class="kt-portlet kt-iconbox">
            <div class="kt-portlet__body">
              <div class="kt-iconbox__body">
                <div class="kt-iconbox__icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="kt-iconbox__desc">
                  <h3 class="kt-iconbox__title">
                    123
                  </h3>
                  <div class="kt-iconbox__content">
                    Total Active Demands
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="kt-portlet kt-iconbox">
            <div class="kt-portlet__body">
              <div class="kt-iconbox__body">
                <div class="kt-iconbox__icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="kt-iconbox__desc">
                  <h3 class="kt-iconbox__title">
                    123
                  </h3>
                  <div class="kt-iconbox__content">
                    Total Quotes Demands
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="kt-portlet kt-iconbox">
            <div class="kt-portlet__body">
              <div class="kt-iconbox__body">
                <div class="kt-iconbox__icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="kt-iconbox__desc">
                  <h3 class="kt-iconbox__title">
                    123
                  </h3>
                  <div class="kt-iconbox__content">
                    Demands Won
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="kt-portlet kt-iconbox">
            <div class="kt-portlet__body">
              <div class="kt-iconbox__body">
                <div class="kt-iconbox__icon">
                  <i class="fa fa-user"></i>
                </div>
                <div class="kt-iconbox__desc">
                  <h3 class="kt-iconbox__title">
                    123
                  </h3>
                  <div class="kt-iconbox__content">
                    Demands Lost
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--End::Row-->

      <!--End::Dashboard 3-->
    </div>

    <!-- end:: Content -->
  </div>
</div>