<div
  class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch"
  id="kt_body"
>
  <div
    class="kt-content kt-content--fit-top kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor pricingPage"
    id="kt_content"
  >
    <div class="kt-subheader kt-grid__item" id="kt_subheader">
      <div class="kt-container">
        <div class="kt-subheader__main">
          <h3 class="kt-subheader__title">
            Pricing
          </h3>
        </div>
        <div class="kt-subheader__main"></div>
      </div>
    </div>
    <div class="kt-container kt-grid__item kt-grid__item--fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
              <div class="">
                <div class="row text-center align-items-end">
                  <!-- Pricing Table-->
                  <div class="col-lg-3 mb-5 mb-lg-0">
                    <div class="bg-white p-4 rounded-lg shadow">
                      <h1 class="h6 text-uppercase font-weight-bold">
                        Starter
                      </h1>
                      <small>Prepaid -Pay Per Quote (PPQ)</small>
                      <h2 class="h1 font-weight-bold">
                        $0<span class="text-small font-weight-normal ml-2"
                          >/ month</span
                        >
                      </h2>

                      <div
                        class="custom-separator my-4 mx-auto bg-primary"
                      ></div>

                      <ul class="list-unstyled my-5 text-small text-left">
                        <li class="mb-3">
                          <i class="fa fa-check mr-2 text-primary"></i>
                          Price per Quote
                        </li>
                        <li class="mb-3">
                          <i class="fa fa-check mr-2 text-primary"></i>
                          Access to business opportunities
                        </li>
                        <li class="mb-3">
                          <i class="fa fa-check mr-2 text-primary"></i>
                          Get featured on our listing pages
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>CRM integrations</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Access to Certification</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Reports & Metrics</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Access to PCL</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Access to PSL</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Preferential rates for certification</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Remove competitors from your profile</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Get featured on Supplio local home page</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Get featured on the comparison list</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>View employer name on the demand</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>See competitors' offers</del>
                        </li>
                      </ul>
                      <a
                        href="#"
                        class="btn btn-primary btn-block p-2 shadow rounded-pill"
                        >Subscribe</a
                      >
                    </div>
                  </div>
                  <!-- END -->

                  <div class="col-lg-3 mb-5 mb-lg-0">
                    <div class="bg-white p-4 rounded-lg shadow">
                      <h1 class="h6 text-uppercase font-weight-bold">Agency</h1>
                      <small>Subscription</small>
                      <h2 class="h1 font-weight-bold">
                        <sup><small>Starting</small></sup>
                        $213<span class="text-small font-weight-normal ml-2"
                          >/ month</span
                        >
                      </h2>

                      <div
                        class="custom-separator my-4 mx-auto bg-primary"
                      ></div>

                      <ul class="list-unstyled my-5 text-small text-left">
                        <li class="mb-3">
                          <i class="fa fa-check mr-2 text-primary"></i>
                          Price per Quote
                        </li>
                        <li class="mb-3">
                          <i class="fa fa-check mr-2 text-primary"></i>
                          Access to business opportunities
                        </li>
                        <li class="mb-3">
                          <i class="fa fa-check mr-2 text-primary"></i>
                          Get featured on our listing pages
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>CRM integrations</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Access to Certification</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Reports & Metrics</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Access to PCL</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Access to PSL</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Preferential rates for certification</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Remove competitors from your profile</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Get featured on Supplio local home page</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Get featured on the comparison list</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>View employer name on the demand</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>See competitors' offers</del>
                        </li>
                      </ul>
                      <a
                        href="#"
                        class="btn btn-primary btn-block p-2 shadow rounded-pill"
                        >Subscribe</a
                      >
                    </div>
                  </div>
                  <!-- END -->

                  <!-- Pricing Table-->
                  <div class="col-lg-3 mb-5 mb-lg-0">
                    <div class="bg-white p-4 rounded-lg shadow">
                      <h1 class="h6 text-uppercase font-weight-bold">
                        Agency +
                      </h1>
                      <small>Subscription</small>
                      <h2 class="h1 font-weight-bold">
                        <sup><small>Starting</small></sup>
                        $319<span class="text-small font-weight-normal ml-2"
                          >/ month</span
                        >
                      </h2>

                      <div
                        class="custom-separator my-4 mx-auto bg-primary"
                      ></div>

                      <ul class="list-unstyled my-5 text-small text-left">
                        <li class="mb-3">
                          <i class="fa fa-check mr-2 text-primary"></i>
                          Price per Quote
                        </li>
                        <li class="mb-3">
                          <i class="fa fa-check mr-2 text-primary"></i>
                          Access to business opportunities
                        </li>
                        <li class="mb-3">
                          <i class="fa fa-check mr-2 text-primary"></i>
                          Get featured on our listing pages
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>CRM integrations</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Access to Certification</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Reports & Metrics</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Access to PCL</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Access to PSL</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Preferential rates for certification</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Remove competitors from your profile</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Get featured on Supplio local home page</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Get featured on the comparison list</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>View employer name on the demand</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>See competitors' offers</del>
                        </li>
                      </ul>
                      <a
                        href="#"
                        class="btn btn-primary btn-block p-2 shadow rounded-pill"
                        >Subscribe</a
                      >
                    </div>
                  </div>
                  <!-- END -->

                  <!-- Pricing Table-->
                  <div class="col-lg-3">
                    <div class="bg-white p-4 rounded-lg shadow">
                      <h1 class="h6 text-uppercase font-weight-bold">
                        Orgnization
                      </h1>
                      <small>Subscription</small>
                      <h2 class="h1 font-weight-bold">
                        <sup><small>Starting</small></sup>
                        $638<span class="text-small font-weight-normal ml-2"
                          >/ month</span
                        >
                      </h2>

                      <div
                        class="custom-separator my-4 mx-auto bg-primary"
                      ></div>

                      <ul class="list-unstyled my-5 text-small text-left">
                        <li class="mb-3">
                          <i class="fa fa-check mr-2 text-primary"></i>
                          Price per Quote
                        </li>
                        <li class="mb-3">
                          <i class="fa fa-check mr-2 text-primary"></i>
                          Access to business opportunities
                        </li>
                        <li class="mb-3">
                          <i class="fa fa-check mr-2 text-primary"></i>
                          Get featured on our listing pages
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>CRM integrations</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Access to Certification</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Reports & Metrics</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Access to PCL</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Access to PSL</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Preferential rates for certification</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Remove competitors from your profile</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Get featured on Supplio local home page</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>Get featured on the comparison list</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>View employer name on the demand</del>
                        </li>
                        <li class="mb-3 text-muted">
                          <i class="fa fa-times mr-2"></i>
                          <del>See competitors' offers</del>
                        </li>
                      </ul>
                      <a
                        href="#"
                        class="btn btn-primary btn-block p-2 shadow rounded-pill"
                        >Subscribe</a
                      >
                    </div>
                  </div>
                  <!-- END -->
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- end:: Content -->
      </div>
    </div>
  </div>
</div>
